html
{
    scroll-behavior: smooth;
}

h1.c_font_header
{
    font-family: 'Roboto', 'Arial' !important;
    font-weight: 300 !important;
}

h1.c_font_footer
{
    font-family: 'Roboto', 'Arial' !important;
    font-weight: 500 !important;
}

h2
{
    font-family: 'Poppins', 'Arial' !important;
    font-weight: 400 !important;
}

p
{
    font-family: 'Poppins', 'Arial' !important;
    font-weight: 200 !important;
}

.navbar-nav .nav-item .nav-link
{
    color: #FFFFFF;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link
{
    color: #00AAFF;
}

.c_line
{
    width: 13;
    border-bottom: 2px solid #0DCAF0;
}

.c_svg_icon
{
    color: #FFFFFF;
    padding: 8px;
}

.c_remove_line
{
  text-decoration: none !important;
  border: 0px !important;
  outline: none;
  border-width: 0px;
}
